body{
	background: url(bg.jpg);
	margin-top: 0px;
	margin-bottom: 0px;
}
#container{
	width:1200px;
	margin-right: auto;
	margin-left: auto;

}
header{
	background: linear-gradient(to top left,#0020c2,#659ec7);
	padding-top: 0px;
}

#main-menu ul{
	list-style-type: none;
	padding-left: 300px;
	position: relative;

}
#main-menu li{
	float:left;
	font-size: 20px;
}
.clear{
	clear: both;
}
#main-menu a{
	text-decoration: none;
	padding: 10px 20px;
	color: #fffff0;
	display: block;
}
#main-menu a:hover{
	background: skyblue;
	color:#0c090a;
}
#main-menu ul li ul{
	position: absolute;
	visibility: hidden;
	padding-left: 0px;
}
#main-menu ul li ul li{
	float:none;
}
#main-menu ul li:hover ul{
	visibility: visible;

	background: linear-gradient(to top left,#0020c2,#659ec7);
}
/* ==========================================================================================================================================================
                       end of main menu styling
===================================================================================================================================================*/


/* ==========================================================================================================================================================
                       about uet styling starts
===================================================================================================================================================*/

#uet-history{
	background-color:white;
	margin-bottom:20px;
}
.history-left{
	width:870px;
	padding-left:10px;
	float:left;
	padding-right:10px;
	margin-top:20px;
	border-radius:20px;
			background:url(bg4.jpg);

}

.history-left p{
	text-align:justify;
}
.history-right{
	padding-left:10px;
	background:url(bg5.jpg);
	padding-right:5px;
	padding-top:80px;
	width:269px;
	float:right;
	margin-top:20px;
	border-radius:20px;
	font-size:5px;
	padding-bottom:10px;

}
.history-right h5{
	padding-bottom:10px;
}
.history-right a{
	text-decoration:none;
	font-size:20px;
}

.history-right h5{
	border-bottom: 2px dotted black;
}